<div id="sign-in">
  <h1>Sign-in</h1>
  <form (ngSubmit)="onSubmit(formData.value)" #formData="ngForm">
   <md-card>
      <md-input-container>
        <input mdInput type="email" name="email" ngModel placeholder="Email address" required>
      </md-input-container>
      <md-input-container>
        <input mdInput type="password" name="password" ngModel placeholder="Password" required>
      </md-input-container>
      <button md-raised-button color="primary" type="submit" [disabled]="!formData.valid">Submit</button>
    </md-card>
  </form>
  <h2>Or</h2>
  <!--
<button md-raised-button (click)="login('facebook')">
    <img class="img-social" src="https://firebasestorage.googleapis.com/v0/b/hubmovies-a26fc.appspot.com/o/facebook-logo.png?alt=media&token=8fa7710c-7a4f-477f-abe9-d4f3f7e79b0c"> Use my Facebook account
</button>
-->
  <button class="btn-social" md-button (click)="login('google')">
        <img src="https://firebasestorage.googleapis.com/v0/b/hubmovies-a26fc.appspot.com/o/btn_google_signin_dark_normal_web.png?alt=media&token=7eadfde9-49b6-4673-bcfe-d5537a1dac51" alt="sign in Google"> 
    </button>
  <button class="btn-social btn-twitter" md-button (click)="login('twitter')">
        <img src="https://firebasestorage.googleapis.com/v0/b/hubmovies-a26fc.appspot.com/o/sign-in-with-twitter-link.png?alt=media&token=f1632c11-4485-48a1-a1e6-7232375b2c5b" alt="sign in Twitter">
    </button>
  <h3>And </h3>
  <div>
    <a routerLink="/sign-up"> If you don't have an account ?</a>
    <a routerLink="/reset-password"> If you forgot your password ?</a>
  </div>
</div>