[id="sign-in"] {
    
    .btn-social {
        display: block;
        margin: .625rem auto;
        border: none;
        background: transparent;
        outline: none;
    }
    .btn-twitter {
        background: #FFF
    }
}