@import '../../assets/scss/palette';

.btn-add-category,
.btn-delete-category {
    color: white;
}

.categories {
    &__tab {

        .mat-nav-list {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        a.mat-list-item {
            flex: 1;

            &:hover {
                background: $background;
            }
        }
        .mat-list-base {
            display: flex;
            
            button {
                color: $grey;
            }
        }
        .actions {
            display: flex;
            color: $white;
        }
        /deep/ .mat-list-text {
            h3 {
                color: $primary-light;
                text-align: left;
            }
            p {
                color: $white;
                text-align: left;
            }
        }
    }
}
