$background-color: #0E1114;
$primary-color: #FF424F;
$white: #FFF;

[id="navigation"] {

    li {
        min-height: 3rem;
        line-height: 3;

        &:first-child:hover{
            background-color: transparent;
        }
        &:hover {
            background-color: $background-color;
        }
    }
    a {
        display: block;
        padding: .625rem 0;
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }
    .active {
        color: $primary-color;
    }
}