@import '../../assets/scss/palette';

.playlist {
    &__tab {
        margin: 30px 0 0;

        .mat-nav-list {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        a.mat-list-item {
            flex: 1;

            &:hover {
                background: rgba(192, 138, 138, 0.1);
            }
        }
        .actions {
            display: flex;
            color: white;
        }
        /deep/ .mat-list-text {
            h3 {
                color: $primary-light;
                text-align: left;
            }
        
            p {
                color: white;
                text-align: left;
            }
        }
    }
}

/deep/ .mat-menu-content {
    background: white;
}
