<h1 mat-dialog-title>Share on</h1>
<div mat-dialog-content>
  <div class="share-buttons">
    <a href="https://plus.google.com/share?url=https://hubmovies-a26fc.firebaseapp.com/movies/movie/{{data.id}}"
      onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
      Google +
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://hubmovies-a26fc.firebaseapp.com/movies/movie/{{data.id}}">Facebook</a>
    <a href="https://twitter.com/intent/tweet?text={{data.original_title}}%20on%20&url=https://hubmovies-a26fc.firebaseapp.com/movies/movie/{{data.id}}&hashtags=hubmovies, {{data.original_title}}">Twitter</a>
  </div>
  <div class="link">
    <mat-form-field>
      <input matInput value="https://hubmovies-a26fc.firebaseapp.com/movies/movie/{{data.id}}">
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="copyLink(data.id)" cdkFocusInitial>Copy the link</button>
    <button mat-button (click)="onNoClick()">Ok</button>
  </div>