<h1>{{title}}</h1>
<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="items" *ngIf="movies" (swipeleft)="swipe(pager.currentPage +1, $event.type)" (swiperight)="swipe(pager.currentPage -1, $event.type)">
  <div class="item" *ngFor="let movie of movies.results">
    <a [routerLink]="['/movie', movie.id]">
      <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="poster movie">
      <img *ngIf="!movie.poster_path" src="/assets/images/no_poster_available.jpg" alt="No poster available">
      <h4>{{movie.title}}</h4>
      {{action}}
    </a>
    <p class="date">{{movie.release_date | date}}</p>
  </div>
</div>
<footer class="pagination">
  <nav>
    <ul >
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(parameter, 1)">
          <mat-icon>first_page</mat-icon>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(parameter, pager.currentPage - 1)">
          <mat-icon>chevron_left</mat-icon>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page, action)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(parameter, pager.currentPage + 1)">
          <mat-icon>chevron_right</mat-icon>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(parameter, pager.totalPages)">
          <mat-icon>last_page</mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</footer>