<h2 *ngIf="!dataParam">{{title}}</h2>
<h2 *ngIf="dataParam">{{dataParam}}</h2>
<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="items" *ngIf="moviesLength > 0; else noData" (swipeleft)="swipe(pager.currentPage +1, $event.type)" (swiperight)="swipe(pager.currentPage -1, $event.type)">
  <div class="item" *ngFor="let movie of movies">
    <a [routerLink]="['/movie', movie.id]">
      <img *ngIf="movie.poster_path" [defaultImage]="'assets/images/no_poster_available.jpg'" [lazyLoad]="'https://image.tmdb.org/t/p/w185/' + movie.poster_path"
        alt="poster movie">
      <img *ngIf="!movie.poster_path" src="/assets/images/no_poster_available.jpg" alt="No poster available">
    </a>
    <h3>{{movie.title}}</h3>
    <button *ngIf="authService.user | async" aria-hidden="true" mat-icon-button class="btn-add" color="primary" (click)="addMovie(movie)"
      matTooltip="{{'Movie-list.Watch later' | translate}}">
      <mat-icon>visibility</mat-icon>
    </button>
    <p class="date">{{movie.release_date | date}}</p>
  </div>
</div>
<ng-template #noData>
  <h3>
    {{'Movie-list.No results' | translate}}
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
  </h3>
</ng-template>
<footer class="pagination" *ngIf="moviesLength > 0">
  <nav>
    <ul>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(parameter, 1)">
          <mat-icon>first_page</mat-icon>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(parameter, pager.currentPage - 1)">
          <mat-icon>chevron_left</mat-icon>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{disabled:pager.currentPage === page}">
        <a (click)="setPage(parameter, page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(parameter, pager.currentPage + 1)">
          <mat-icon>chevron_right</mat-icon>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(parameter, pager.totalPages)">
          <mat-icon>last_page</mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</footer>