<!--
<div *ngIf="photoURL">
    <img src="{{photoURL}}" alt="profile" width="150">
</div>
<h1>Hello {{displayName}}</h1>
<form (ngSubmit)="onSubmit(formData)" #formData='ngForm'>
    <mat-card>
        <mat-input-container>
            <input matInput type="text" name="displayName" [(ngModel)]="displayName" required>
        </mat-input-container>
        <mat-input-container>
            <input matInput type="email" name="email" [(ngModel)]="email" required>
        </mat-input-container>
        <mat-checkbox type="checkbox" name="emailVerified" [(ngModel)]="emailVerified" disabled>
            <label>Email Verified</label>
        </mat-checkbox>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formData.valid">Send</button>
    </mat-card>
</form>
<h2>Delete your account ?</h2>
<a (click)="confirmDialog()">Delete</a>
-->
<div class="account">
    <div class="account--informations">
        <div class="account--informations-avatar">
            <ng-template [ngIf]="photoURL">
                <img src="{{photoURL}}" alt="profile" width="50">
            </ng-template>
            <ng-template [ngIf]="!photoURL">
                <div class="avatar">{{notPhotoURL}}</div>
            </ng-template>
        </div>
        <div class="account--informations-details">
            <p> {{displayName}}</p>
            <small>{{email}}</small>
        </div>
    </div>
    <div class="account--actions">
        <button mat-raised-button (click)="deleteAccountDialog()">Delete account</button>
    </div>
</div>
<div class="account__stat">

</div>