@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import 'assets/scss/custom_theme';
@import 'assets/scss/palette';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: white;
}
/* Launcher */

.launcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
        width: auto;

        @media only screen and (max-width: 731px) {
            width: 192px;
        }
    }

    p {
        font-family: inherit;
    }
}
a {
    cursor: pointer;
    text-decoration: none;
    color: $primary-light;
    outline: none;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4 {
    font-weight: normal;
    text-align: center;
}
h1,
h2,
h3,
.date {
    color: $white;
}
md-card-header .mat-card-header-text {
    margin: 1rem 0 0;
}
.mat {
    &-icon {
        vertical-align: middle;
    }
    &-sidenav-container {
        min-height: 100vh;
        background-color: $primary-dark;
        color: $dark;
    }
    &-sidenav.mat-sidenav-push {
        background-color: $accent-dark;
    }
    &-input-ripple {
        background-color: $primary-light;
    }
    &-menu-content {
        background: $primary-dark;
    }
    &-menu-item {
        color: $primary-light;
    }
}
.mat-tab {
    &-labels {
        justify-content: center;
    }
    &-label {
        color: #FFF !important;
    }
}

/* img poster movie */
img[ng-reflect-default-image] {
    width: 185px;
    height: 278px;
}
[alt="No poster available"] {
    width: 185px;
    height: 278px;
}

.icon-container {
    background-position: center;
    background-size: cover;
    border: 1px solid $primary-light;
    line-height: 2;

    .icon-person, .icon-movie {
        color: $primary-light;
    }
}

/* Container principal */
[id="hub-movies"] {
    text-align: center;
}
/* Navigation */
.mat-drawer.mat-drawer-push {
    background-color: $primary-dark;
}

[id="navigation"] {
    li {
        min-height: 3rem;
        line-height: 3;
        &:first-child:hover {
            background-color: transparent;
        }
        &:hover {
            background-color: $background-color;
        }

        &:last-child {
            color: white;
        }
    }
    a {
        display: block;
        padding: .625rem 0;
        color: $white;
        &:hover {
            color: $primary-light;
        }
    }
    .active {
        color: $primary-light;
    }
    .mat-input {
        &-underline {
            background-color: $white;
        }
        &-placeholder,
        &-element {
            color: $white;
        }
    }
    .mat-select {
        padding: .625rem 0;
        width: 140px;

        &-placeholder, &-value {
            color: white;
        }
    }
}
.app-icon-button {
    margin: 1.25rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: $white;
}

a, button {
    &:focus, &:active {
        outline: none;
    }
}

/* Dialog */
h1.mat-dialog-title {
    color: $primary-dark;
}

/* Column Flex */
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
        margin: 1rem .625rem;
        text-align: center;
        flex: 1 0 200px;
        @media screen and (min-width: 410) {
            max-width: calc(50% - 10px);
        }
        @media (min-width: 620px) {
            max-width: calc(33.33333% - 10px);
        }
        @media (min-width: 830px) {
            max-width: calc(25% - 10px);
        }
        @media (min-width: 1040px) {
            max-width: calc(20% - 10px);
        }
        @media (min-width: 1250px) {
            max-width: calc(16.66667% - 10px);
        }
        @media (min-width: 1460px) {
            max-width: calc(14.28571% - 10px);
        }
        @media (min-width: 1670px) {
            min-width: calc(12.5% - 10px);
        }
        &:hover {
            opacity: 0.5
        }
    }
}

/* Pagination */
.pagination {
    ul {
        -webkit-padding-start: 0;
    }
    li {
        display: inline-block;
        padding: 0 .5rem;
        vertical-align: middle;
    }
    .disabled a {
        cursor: default;
        pointer-events: none;
        color: $disable;
    }
}
/* button return top*/
[id="return-to-top"] {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
    z-index: 1;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* spinner */
.loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
