@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import 'assets/scss/custom_theme';
@import 'assets/scss/palette';
* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: $primary-light;
    outline: none;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4 {
    font-weight: normal;
    text-align: center;
}
h1,
h2,
h3,
.date {
    color: $white;
}
md-card-header .mat-card-header-text {
    margin: 1rem 0 0;
}
.mat {
    &-icon {
        vertical-align: middle;
    }
    &-sidenav-container {
        background-color: $primary-dark;
        color: $dark;
    }
    &-sidenav.mat-sidenav-push {
        background-color: $accent-dark;
    }
    &-input-ripple {
        background-color: $primary-light;
    }
    &-menu-content {
        background: $primary-dark;
    }
    &-menu-item {
        color: $primary-light;
    }
    &-card {
        background: $white;
        color: $primary-dark;
    }
}
[alt="No poster available"] {
    width: 185px;
}
/* Launcher */

[id="launcher"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
        width: auto;
    }
}
/* Container principal */

[id="hub-movies"] {
    margin: 1rem;
    text-align: center;
}
/* Navigation */

[id="navigation"] {
    li {
        min-height: 3rem;
        line-height: 3;
        &:first-child:hover {
            background-color: transparent;
        }
        &:hover {
            background-color: $background-color;
        }
    }
    a {
        display: block;
        padding: .625rem 0;
        color: $white;
        &:hover {
            color: $primary-light;
        }
    }
    .active {
        color: $primary-light;
    }
    .mat-input {
        &-underline {
            background-color: $white;
        }
        &-placeholder,
        &-element {
            color: $white;
        }
    }
}
.app-icon-button {
    padding: 1.25rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: $white;
}
md-sidenav-container {
    height: 100%;
}
/* Dialog */

h1.mat-dialog-title {
    color: $primary-dark;
}
/* Column Flex */

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
        margin: 1rem .625rem;
        text-align: center;
        flex: 1 0 200px;
        @media screen and (min-width: 410) {
            max-width: calc(50% - 10px);
        }
        @media (min-width: 620px) {
            max-width: calc(33.33333% - 10px);
        }
        @media (min-width: 830px) {
            max-width: calc(25% - 10px);
        }
        @media (min-width: 1040px) {
            max-width: calc(20% - 10px);
        }
        @media (min-width: 1250px) {
            max-width: calc(16.66667% - 10px);
        }
        @media (min-width: 1460px) {
            max-width: calc(14.28571% - 10px);
        }
        @media (min-width: 1670px) {
            min-width: calc(12.5% - 10px);
        }
    }
}
/* Pagination */

.pagination {
    ul {
        -webkit-padding-start: 0;
    }
    li {
        display: inline-block;
        padding: 0 .5rem;
        vertical-align: middle;
    }
    .disabled a {
        cursor: default;
        pointer-events: none;
        color: $disable;
    }
}
/* Movie */

app-movie {
    .genre {
        display: block;
        ul {
            display: inline-block;
            padding: 0 .325rem 0 0;
        }
    }
    section {
        h3 {
            margin: .625rem 0 0;
            color: inherit;
        }
    }
    [id="trailer"] {
        margin: 30px 0 0;
    }
    .md {
        &-green {
            color: #4caf50
        }
        &-orange {
            color: rgb(255, 87, 34);
        }
        &-red {
            color: #f44336;
        }
        &-yellow {
            color: #ffc107;
        }
        &-teal {
            color: #009688
        }
    }
    iframe {
        display: block;
        margin: .625rem auto;
    }
    .mat-card {
        &-header, &-content, &-actions {
            text-align: left;
        }
        &-title {
            margin: 1rem 0;
            font-size: 1.5rem !important;
        }
        &-subtitle {
            color: inherit;
        }
        &-subtitle,
        &-content {
            font-size: inherit !important;
        }
    }
    .mat-tab {
        &-group {
            margin: 50px 0;
        }
        &-labels {
            justify-content: center;
        }
        &-label {
            color: #FFF !important;
        }
    }
    [alt="backdrop movie"] {
        @media (min-width: 600px) {
            width: 100%;
        }
    }
    [alt="profile"] {
        @media (min-width: 600px) {
            width: 100%;
        }
    }
    [alt="poster movie"] {
        height: 278px;
    }
}
/* Playlist */

app-playlist {
    [alt="poster movie"] {
        width: 100%;
    }
}
/* Sign in */

app-sign-in {
    .btn-social {
        margin: .625rem auto;
        border: none;
        background: transparent;
        outline: none;
        height: 40px;
    }
    .btn-twitter {
        background-color: #FFF;
    }
    .btn-facebook {
        background-color: #4267b2;
        color: #FFF;
    }
    .btn-google {
        background-color: #4285f4;
        color: #FFF;
    }
    svg {
        height: 24px;
        width: 24px;
        margin: 0 10px 0 -6px;
    }
}
/* Star */

app-star {
    .img_profile {
        width: auto;
    }
    section:first-child {
        p {
            color: $white;
        }
    }
}

/* History */
app-history {
    img {
        width: 32px;
        vertical-align: middle;
    }
    md-icon {
        cursor: pointer;
    }
}