/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Roboto:400,500';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
h1, h2, h3, h4 {
    font-weight: normal;
    text-align: center;
}

.mat-icon {
    vertical-align: middle;
}
/* Navigation */
.app-icon-button {
    padding: 1.25rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFF;
}

md-sidenav-container {
    height: 100%;
}

[id="navigation"] li {
    min-height: 3rem;
    line-height: 3;
}
[id="navigation"] li:hover {
    background-color: #eee;
}
[id="navigation"] li:first-child:hover {
    background-color: transparent;
}
[id="navigation"] a {
    display: block;
    font-weight: 500;
    color: #00796b;
}
.mat-sidenav-container {
    background-color: #424242 !important;
    color: #FFF !important;
}

/* Pagination */
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.items .item {
    margin: 1rem .625rem;
    /*padding: .625rem; */
    text-align: center;
}

.items .item:last-child {
    flex: inherit;
    width: 100%;
}

.pagination li {
    display: inline-block;
    padding: 0 .5rem;
}
/* Movie  */
img {
    width: 100%;
}
.img-social {
    width: 30px;
}
.mat-card {
    margin: 1rem;
}
.mat-card-title {
    margin: 1rem 0;
    font-size: 1.5rem !important;
}
.mat-card-subtitle, .mat-card-content {
    font-size: inherit !important;
}
.md-green {
    color: #4caf50;
}
.md-orange {
    color: rgb(255, 87, 34);
}
.md-red {
    color: #f44336;
}
.md-yellow {
    color: #ffc107;
}
.md-teal {
    color: #009688;
}

.genre {
    display: block;
}
.genre ul {
    display: inline-block;
    padding: 0 .325rem 0 0;
}
/* Responsive */
@media screen and (max-width: 480px){
    md-checkbox, .mat-input-container {
        display: block !important;
        margin: 3rem 0;
    }
    .mat-card {
        margin: 0;
    }
}