<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
  <mat-card *ngIf="movie">
    <picture>
      <source media="(min-width: 1280px)" srcset="https://image.tmdb.org/t/p/w1280/{{movie.backdrop_path}}">
      <source media="(min-width: 780px)" srcset="https://image.tmdb.org/t/p/w780/{{movie.backdrop_path}}">
      <img src="https://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" alt="backdrop movie">
    </picture>
    <mat-card-header>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>
        <mat-icon>date_range</mat-icon> {{movie.release_date | date}}
        <span *ngIf="movie.vote_average >= 5">
          <mat-icon class="mat-green">thumb_up</mat-icon> {{movie.vote_average}} </span>
        <span *ngIf="movie.vote_average < 5">
          <mat-icon class="mat-red">thumb_down</mat-icon> {{movie.vote_average}} </span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>share</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="https://plus.google.com/share?url=https://hubmovies-a26fc.firebaseapp.com/movie/{{movie.id}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google +
          </a>
          <a mat-menu-item href="https://www.facebook.com/sharer/sharer.php?u=https://hubmovies-a26fc.firebaseapp.com/movie/{{movie.id}}">Facebook</a>
          <a mat-menu-item href="https://twitter.com/intent/tweet?text=Discovers the movie {{movie.title}}%20on%20&url=https://hubmovies-a26fc.firebaseapp.com/movie/{{movie.id}}&hashtags=hubmovies, {{movie.title}}">Twitter</a>
          <a mat-menu-item href="mailto:?subject={{movie.title}} on Hubmovies&body=Discovers the movie on https://hubmovies-a26fc.firebaseapp.com/movie/{{movie.id}}">Email</a>
        </mat-menu>
        <div class="genre">
          <ul *ngFor="let genre of movie.genres; let i=index">
            <li *ngIf="i < 3">
              <a [routerLink]="['/movies/genre', {id: genre.id, name: genre.name}]"> {{genre.name}}</a>
            </li>
          </ul>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{movie.overview}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div [hidden]="!isConnected">
        <button mat-button (click)="saveMovie(movie, 'MovieLater')">
          <mat-icon class="mat-teal">watch_later</mat-icon> Watch later</button>
        <button mat-button (click)="saveMovie(movie, 'FavoriteMovie')">
          <mat-icon class="mat-yellow">star</mat-icon> Favorite</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="Cast">
      <section id="cast" class="items" *ngIf="cast">
        <mat-list>
          <mat-list-item *ngFor="let person of cast">
            <a [routerLink]="['/star', person.id]">
              <img matListAvatar *ngIf="person.profile_path" src="https://image.tmdb.org/t/p/w185/{{person.profile_path}}" alt="profile">
              <img matListAvatar *ngIf="!person.profile_path" src="assets/images/no_poster_available.jpg" alt="No profile available">
              <h3 matLine>{{person.name}}</h3>
              <p matLine>{{person.character}}</p>
            </a>
          </mat-list-item>
        </mat-list>
        <div class="item" *ngFor="let person of cast">

        </div>
      </section>
    </mat-tab>
    <mat-tab label="Trailer">
      <section id="trailer" *ngIf="safeUrl">
        <iframe width="560" height="315" [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
      </section>
    </mat-tab>
    <mat-tab label="Similar Movies">
      <section id="similar" class="items" *ngIf="similarMovies">
        <div class="item" *ngFor="let movie of similarMovies">
          <a [routerLink]="['/movies/movie', movie.id]">
            <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="poster movie">
            <img *ngIf="!movie.poster_path" src="assets/images/no_poster_available.jpg" alt="No poster available">
            <p>{{movie.title}}</p>
          </a>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>
