@import '../../../assets/scss/palette';

app-movie {
    position: relative;
}
.loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
    height: auto;
    background-position: top;
    background-size: cover;
    color: white;
    text-align: left;
    @media only screen and (min-width: 731px) {
        min-height: 500px;
    }

    &__head {
        display: inherit;
        .btn-back {
        border: none;
        background: transparent;
        color: white;
        cursor: pointer;
        }
        h1 {
        color: white;
        text-align: left !important;
        }
    }
    &__body {
        .mat {
        &-green {
            color: #4caf50
        }
        &-orange {
            color: rgb(255, 87, 34);
        }
        &-red {
            color: #f44336;
        }
        &-yellow {
            color: #ffc107;
        }
        &-teal {
            color: #009688
        }
        }
        .movie {
        &--overview {
            font-weight: 500;
            text-align: justify;
        }
        &--genre {
            ul {
            display: inline-block;
            padding: 0 5px 0 0;
            }
        }
        }
    }
}


.movie {
    &__tab {
        .movie {
            &--cast {
                a.mat-list-item {
                    &:hover {
                        background: rgba(192, 138, 138, 0.1);
                    }
                }
                /deep/ .mat-list-text {
                    h3 {
                        color: $primary-light;
                        text-align: left;
                    }
                
                    p {
                        color: $grey;
                        text-align: left;
                    }
                }
                .icon-container {
                    background-position: center;
                    background-size: cover;
                    border: 1px solid $primary-light;
                    line-height: 2;
                
                    .icon-person {
                        color: $primary-light;
                    }
                }
            }
            &--trailer {
                margin: 30px 0 0;

                iframe {
                    display: block;
                    margin: .625rem auto;
                
                    @media only screen and (max-width: 731px) {
                        width: 100%;
                    }
                }
            }
            &--similar {
                [alt="poster movie"] {
                    height: 278px;
                }
            }
        }
    }
}
